body {
    background-color: var(--grey-white);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.loginForm {
    width: 832px;
    height: 416px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}