.user-card {
    width: 576px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;

    border-radius: 8px;
    background: var(--grey-white);
    box-shadow: var(--shadows-shadow-2);
}

.user-card:hover {
    cursor: pointer;
    box-shadow: var(--shadows-shadow-1);
}

.user-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
}

.user-card-name {
    color: var(--grey-dark);
    font-size: var(--body-h3);
    font-weight: var(--medium);
}

.nickname {
    color: var(--grey-dark);
    font-size: var(--body-text-1);
    font-weight: var(--regular);
}