.card-form-column-2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 34px;
}

.card-return-icon {
    z-index: 100;
}

.card-return-icon:hover path[id="fill"]{
    fill: var(--accent-dark-blue);
    cursor: pointer;
}