.card-info-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-return-icon {
    z-index: 100;
}

.card-return-icon:hover path[id="fill"]{
    fill: var(--accent-dark-blue);
    cursor: pointer;
}