.login-body {
    background-color: var(--grey-white);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-success-toast {
    position: fixed;

    top: 48px;
    right: 28px;
}

.loginForm {
    width: 832px;
    height: 416px;
    margin-bottom: 84px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}